/** @format */

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#text-overlay {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
}

#text-overlay .text {
    color: white;
    font-size: 3em;
}

.message-wrapper {
    position: fixed;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#game-over-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;
    width: 100%;
    height: 100%;
}
.text {
    font-family: monospace;
    stroke-width: 0.5px;
    fill: white;
}
.standard-text {
    font-size: 1em;
}
